[Desktop Entry]
Name=GBA
Comment=Game Boy Advance (mGBA)
Icon=gba
Exec=gba_launch_mgba.sh %f
Categories=emulators
SelectorDir=/mnt/Game Boy Advance
SelectorFilter=gba,bin,agb,gbz,u1,zip
